/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles or resets */
body {
  /* Gunakan font-sans yang sudah dikonfigurasi untuk Poppins */
  @apply bg-primary-green text-text-dark font-sans leading-relaxed;
}

/* Optional: Scroll behavior for smooth scrolling to sections */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar for a cleaner look (optional) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a5d6a7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #81c784;
}
